.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .meals {
    background-color: #abb2b4;
    color: rgb(8, 8, 8);
    border-radius: 14px;
    padding: 1rem;
  }
  .meals h4{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .meals h5{
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: -5;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }
  .meals p{
    font-style: italic;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 3px;
  }